.post_detail {
  margin-bottom: 2em;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  color: #444;
  font-size: 0.8em;
  margin-bottom: 1em;
}

/*Mobile M */
@media (max-width: 375px) {
  .post_detail img {
    max-width: 20rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .createdBy {
    font-size: 1em;
  }
}

/* Mobile  L */
@media (max-width: 425px) {
  .post_detail img {
    max-width: 29rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .createdBy {
    font-size: 1em;
  }
}

/* Tablet */
@media (max-width: 618px) {
  .post_detail {
    padding: 0 0.5rem;
  }

  .post_detail img {
    max-width: 40rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .createdBy {
    font-size: 1em;
  }
}
