.edit_post {
  text-align: center;
}

.edit_post h2 {
  font-size: 2.2em;
}

.edit_post p {
  color: hsl(0, 0%, 67%);
  margin-bottom: 2em;
}

.edit_post .preview_title {
  margin-bottom: 0.2em;
  color: #000;
  font-weight: bold;
}

.image_preview {
  max-width: 100%;
  margin-bottom: 1em;
}

@media (max-width: 320px) {
  .edit_post {
    padding: 0 0.5rem;
  }

  .edit_post h2 {
    font-size: 1.5em;
  }

  form {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 415px) {
  .edit_post h2 {
    font-size: 1.5em;
  }
}
