.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #000;
  color: #fff;
}

/* Mobile S */
@media (max-width: 320px) {
  .brand {
    font-size: 1.5rem;
  }
}

/* Mobile L */
@media (max-width: 425px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }
}

/* Tablet */
