.create_post {
  text-align: center;
}

.create_post h2 {
  font-size: 2.2em;
}

.create_post p {
  color: hsl(0, 0%, 67%);
  margin-bottom: 2em;
}

@media (max-width: 320px) {
  .create_post h2 {
    font-size: 1.5rem;
  }
}
